<a href="https://colab.research.google.com/github/varvara007/yandex/blob/main/%D0%98%D1%81%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BD%D0%B0%D0%B4%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%B7%D0%B0%D0%B5%D0%BC%D1%89%D0%B8%D0%BA%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [ ]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
pivot_table = data[data['children'] < 3].pivot_table(index='children', columns='debt', aggfunc='size', fill_value=0)
pivot_table['% людей, который не выплатили в срок'] = pivot_table[1] / (pivot_table[0] + pivot_table[1]) * 100
print(pivot_table)

debt          0     1  % людей, который не выплатили в срок
children
0         13028  1063                              7.543822
1          4364   444                              9.234609
2          1858   194                              9.454191

**Вывод:** Между этими переменными есть очень слабая положительная корреляция, что приводит к выводу о том, что зависимость между количеством детей и возвратом кредита в срок есть, но она мала, что также можно наблюдать по сводной таблице, так как нет какой-то четкой закономерности.

<div class="alert alert-block alert-info">
    
<h3> Комментарий студента  <a class="tocSkip"></h3>
Зависимость между количеством детей и возвратом кредита в срок есть, по сводной таблице можно наблюдать,что процент выплаты у людей без детей больше на 2%, чем у тех, у кого есть дети.

</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
pivot_table = data.pivot_table(index='family_status', columns='debt', aggfunc='size', fill_value=0)
pivot_table['% людей, который не выплатили в срок'] = pivot_table[1] / (pivot_table[0] + pivot_table[1]) * 100
print(pivot_table)

debt                       0    1  % людей, который не выплатили в срок
family_status
Не женат / не замужем   2523  273                              9.763948
в разводе               1105   84                              7.064760
вдовец / вдова           888   63                              6.624606
гражданский брак        3749  385                              9.313014
женат / замужем        11334  927                              7.560558

In [ ]:
data['marital_status'] = data['family_status'].apply(lambda x: 'В браке' if x in ['женат / замужем', 'гражданский брак'] else 'Не в браке')

pivot_table_marital = data.pivot_table(index='marital_status', columns='debt', aggfunc='size', fill_value=0)
pivot_table_marital['% людей, которые не выплатили в срок'] = pivot_table_marital[1] / (pivot_table_marital[0] + pivot_table_marital[1]) * 100
print(pivot_table_marital)

debt                0     1  % людей, которые не выплатили в срок
marital_status
В браке         15083  1312                              8.002440
Не в браке       4516   420                              8.508914

**Вывод:** Исходя из данных, представленных в сводной таблице, можно сделать вывод, что люди, не состоящие в браке, менее ответственно относятся к выплате кредита.

<div class="alert alert-block alert-info">
    
<h3> Комментарий студента  <a class="tocSkip"></h3>
Сводная таблица показывает, что семейное положение влияет на своевременность возврата кредита. Люди, состоящие в браке, обычно более ответственно относятся к своим финансовым обязательствам и вовремя выплачивают кредиты.
</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
pivot_table = data.pivot_table(index='total_income_category', columns='debt', aggfunc='size', fill_value=0)
pivot_table['% людей, который не выплатили в срок'] = pivot_table[1] / (pivot_table[0] + pivot_table[1]) * 100
print(pivot_table)

debt                       0     1  % людей, который не выплатили в срок
total_income_category
A                         23     2                              8.000000
B                       4660   354                              7.060231
C                      14568  1353                              8.498210
D                        328    21                              6.017192
E                         20     2                              9.090909

**Вывод:** Если разделить зарплату на категории:

0–30 000 — «E»;
30 001–50 000 — «D»;
50 001–200 000 — «C»;
200 001–1 000 000 — «B»;
1 000 001 и более — «A»,

то можно составить сводную таблицу, которая покажет процент возврата кредитов для каждой категории. Процент не возврата для категории «С» оказывается достаточно небольшим по сравнению с другими категориями. Это позволяет предположить, что существует связь между уровнем дохода и своевременным возвратом кредита. Однако по категориям «A» и «E» сложно сделать какие-либо выводы, так как данных для анализа недостаточно.

<div class="alert alert-block alert-info">
    
<h3> Комментарий студента  <a class="tocSkip"></h3>

0–30 000 — категория «E»;
30 001–50 000 — категория «D»;
50 001–200 000 — категория «C»;
200 001–1 000 000 — категория «B»;
1 000 001 и более — категория «A».

Если составить сводную таблицу, можно увидеть процент возврата кредитов для каждой категории. Процент невозврата кредитов в категории «С» довольно низкий по сравнению с другими категориями. Это может указывать на связь между уровнем дохода и своевременностью возврата кредита. Однако по категориям «A» и «E» сложно делать выводы, так как данных для анализа недостаточно.

Также сравним две наиболее большие группы B  и C:

* В группе C больше людей, которые не выплатили долг в срок, чем в группе B (8,50% против 7,06%).
* В группе C больше общее количество людей и больше невыплативших долг в срок по сравнению с группой B.
* В группе B немного меньший процент невыплативших долг в срок, что может указывать на более высокую финансовую дисциплину этой группы.
    
    
Можно прийти к выводу о том, что уровень дохода, влияет на надежность кредитора, чем выше заработок, тем процент не выплаты меньше.
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
pivot_table = data.pivot_table(index='purpose_category', columns='debt', aggfunc='size', fill_value=0)
pivot_table['% людей, который не выплатили в срок'] = pivot_table[1] / (pivot_table[0] + pivot_table[1]) * 100
print(pivot_table)

debt                         0    1  % людей, который не выплатили в срок
purpose_category
операции с автомобилем    3879  400                              9.347978
операции с недвижимостью  9971  780                              7.255139
получение образования     3619  369                              9.252758
проведение свадьбы        2130  183                              7.911803

**Вывод:**

Из анализа данных в свободной таблице можно сделать следующие выводы:

1.Операции с автомобилем: Процент людей, которые не выплатили кредит в срок, составляет 9,35%. Это означает, что примерно 9,35% заёмщиков, берущих кредит на операции с автомобилями, имеют задолженности. Данный процент немного выше среднего, что может указывать на определённые риски, связанные с кредитами на операции с автомобилями.

2.Операции с недвижимостью: Процент людей, не выплативших кредит в срок, составляет 7,25%. Это самый низкий процент задолженности среди всех категорий. Такой результат может свидетельствовать о том, что кредиты на операции с недвижимостью обычно возвращаются успешнее.

3.Получение образования: Процент людей, не выплативших кредит в срок, составляет 9,25%. Этот процент почти  равен проценту задолженности по кредитам на операции с автомобилями, что может указывать на схожую надёжность возврата этих видов кредитов.

4.Проведение свадьбы: Процент людей, не выплативших кредит в срок, составляет 7,91%. Этот процент также ниже среднего и близок к проценту задолженности по кредитам на операции с недвижимостью. Это может говорить о хорошем возврате кредитов на проведение свадьбы.

Таким образом, цель кредита может оказывать влияние на вероятность его возврата. Лучше всего возвращаются кредиты на операции с недвижимостью и проведение свадьбы.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*  Возможные причины появления пропусков в исходных данных:

1.Пропуски могут возникать из-за ошибок, допущенных при ручном вводе данных или при считывании информации из источника.

2.Иногда данные могут быть неполными из-за ошибок, возникших в процессе сбора информации.

3.Пропуски могут появляться, если определённые данные недоступны из-за технических проблем или ограничений доступа.

4.В некоторых случаях данные могут содержать ошибки форматирования, что приводит к появлению пропусков при их обработке.

5.Пропуски также могут возникать в результате обработки данных, например, при объединении различных наборов данных, фильтрации или группировки.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

1. Медиана является устойчивым показателем, не чувствительным к выбросам в данных, что позволяет избежать искажений в распределении переменной при заполнении пропущенных значений.

2. Заполнение пропусков средним значением может привести к искажению данных, особенно если они содержат выбросы. Использование медианы помогает сохранить общую структуру данных и уменьшить возможные искажения.

3. Вычисление медианы — относительно простой и быстрый процесс, что делает этот метод удобным для практического применения, особенно при работе с большими объёмами данных.

4. Медиана применима для различных типов распределений данных, например, для нормального и дискретного распределения.

5. Заполнение пропущенных значений медианой помогает сохранить корреляционные связи между переменными.

### Шаг 4: общий вывод.

Необходимо было разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Проведя анализ статистики о платёжеспособности клиентов, можно сделать вывод о том, что количество детей клиента влияет на факт погащения кредита в срок незначительно, в совсем малой степени. Семейное положение влияет в большей степени, клиенты, которые не состоят в браке (не женаты и не замужем),  а также находятся в гражданском браке менее эффективно выплачивают кредит.Также необходимо упоминуть, что разные цели кредита влияют на его возврат в срок. Так, например,  кредиты на операции с недвижимостью обычно возвращаются успешнее. Все эти результаты были получены из свободных таблиц.

<div class="alert alert-block alert-info">
    
<h3> Комментарий студента  <a class="tocSkip"></h3>
Необходимо было разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.

В ходе анализа платёжеспособности клиентов было выявлено, что количество детей клиента может влиять на факт погашения кредита в срок. Для анализа были выбраны клиенты без детей, а также клиенты, имеющие одного или двух детей. Эти категории были выбраны, так как они содержат большую часть клиентов.

Оказалось, что клиенты с одним или двумя детьми почти на 20% чаще не возвращают кредит, чем клиенты без детей. Таким образом, можно сделать вывод, что заёмщики с детьми менее надёжны, чем бездетные.

Семейное положение также играет роль. Клиенты, которые не состоят в браке (не женаты или не замужем, находятся в гражданском браке), менее эффективно выплачивают кредит. Чтобы уменьшить разброс в данных, семейные статусы были сгруппированы по принципу: состоит ли клиент в данный момент в браке (любого вида) или нет.

Так, у нас получились две группы: не в браке (не женат/не замужем, в разводе, вдовец/вдова) и в браке (гражданский брак, женат/замужем). По сводной таблице можно заметить, что клиенты без брака на 6% чаще не возвращают кредит, чем клиенты, состоящие в одной из форм брака.

Также было выявлено, что разные цели кредита влияют на его возврат в срок. Например, кредиты на операции с недвижимостью обычно возвращаются успешнее. Кроме того, заметна явная связь между уровнем дохода и шансом на успешное погашение кредита: клиенты с более высоким уровнем дохода возвращают кредиты на 18% чаще.

На основе этих результатов рекомендуется выдавать кредит людям в браке, без детей и с доходом выше 200 тысяч рублей, которые берут кредит на покупку недвижимости.
    </div>